.banner {
    background-size: cover;
    top: 91px;
    height: 700px;
    color: aliceblue;
}

.title {

    padding-top: 140px;
    padding-left: 20px;
    color: rgb(255, 255, 255);
    height: 90px;
    font-size: 35px;
    background: linear-gradient( to top, transparent 0% , rgba(0, 0, 0, 0.3) 50%);
  
}

.overview{
    padding-left: 20px;
    text-transform: capitalize;
    max-width: 360px;
    background: linear-gradient( to top, transparent 0% , rgba(0, 0, 0, 0.3) 50%);
}